
{% extends 'base.html' %}
{% block title %} Home{% endblock %}

{% block rightside %} 
<li class="nav-item"><a class="nav-link" style="color: #990066;font-weight: bold; font-size: 2rem;">Event Management</a></li><br>
<li class="nav-item"><a class="nav-link"  style="color: #990066;font-weight: bold; font-size: 2rem;"></a></li><br>
{% endblock %}

{% block content %}
    <h1 class="text-center" style="font-size: 1rem">Welcome to event management dashboard</h1>
    <p class="text-center">Book events easily from your device.</p>
{% endblock %}
